<nav class="container">
      <h1 class="nav-logo"><a href="/">Jasmine Bayani</a></h1>
      <button id="navbar-button">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/blog">blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <ul class="responsive-nav" id="responsive-nav">
      <li><a href="/about">About</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/blog">blog</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>