<!doctype html>
<html lang="en">
   <head>
    <%- include('head'); -%>

<title>Creating Galaxies - About</title>
   </head>
   <body id="about">

    <header>
      
<%- include('header'); -%>
    </header>
 
   <div id="mainContent" class="container-fluid">
      <h1 class="centered-container">About</h1>
   </div>
   <!--main content -->

<footer>
<%- include('footer'); -%>
</footer>

   </body>
   <!--container -->
</html>
