<!doctype html>
<html lang="en">
   <head>
<%- include('head'); -%>
<title>Creating Galaxies - Contact</title>

   </head>
   <body>

    <header>
      
<%- include('header'); -%>
    </header>
 
   <div id="mainContent" class="container-fluid">
      <h1 class="centered-container">CONTACT</h1>
   </div>
   <!--main content -->

<footer>
<%- include('footer'); -%>
</footer>

   </body>
   <!--container -->
</html>
